@import './scss/fonts.module';
@import './scss/reset.module';

html,
body,
#__next {
  min-height: 100vh;
}

*::-webkit-scrollbar {
  border: none;
  width: 7px;
}
*::-webkit-scrollbar-thumb {
  background-color: #078080;
  border-radius: 3px;
}
*::-webkit-scrollbar-track {
  background: #9c92a0;
}

body {
  font-family: 'Play';
  font-weight: normal;
}
