@import './scss/fonts.module';
@import './scss/reset.module';

html,
body,
#__next {
  min-height: 100vh;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #078080 #202627;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #202627;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #078080;
    border-radius: 10px;
    border: 3px;
  }
}

body {
  font-family: 'Play';
  font-weight: normal;
}
