@import './scss/fonts.module';
@import './scss/reset.module';

html,
body,
#__next {
  min-height: 100vh;
}

* {
  scrollbar-color: #078080 #202627;
  scrollbar-width: thin;
}

body {
  font-family: 'Play';
  font-weight: normal;
}
