.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  .themeSwitcherContainer {
    align-self: flex-end;
  }
  .container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: 2em;
    .logo {
      width: 130px;
      height: 130px;
      border-radius: 100%;
      border: 2px solid black;
    }
    .vertical_line {
      width: 1px;
      height: 110px;
      background-color: black;
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 0.7em;
      .my_name {
        font-size: 22px;
        font-weight: bold;
      }
      .navigation {
        display: flex;
        gap: 1em;
      }
    }
  }
}
